// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$body-font-family: 'Montserrat', 'Roboto';